{% extends 'base.html' %}
{% block header %}
    {% block title %}Home{% endblock %}
{% endblock %}
{% block content %}
    <div class="container-fluid p-3" id="dashboard">
        <div class="row mb-3 mx-auto" id="charts">
            <div class="col-md-5 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        Database status
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <canvas id="chDoughnut"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-7 h-100">
                <div class="row mx-auto h-50 pb-2">
                    <div class="card w-100 h-100">
                        <div class="card-header">
                            Exploits
                        </div>
                        <div class="card-body d-flex align-items-center">
                            <canvas id="chBarsExploits"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto h-50 pt-2">
                    <div class="card w-100 h-100">
                        <div class="card-header">
                            Teams
                        </div>
                        <div class="card-body">
                            <canvas id="chBarsTeams"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto px-3 float-right">
            <form class="form-inline">
                <label for="minsSelect" class="mr-2 small">Stats from the last</label>
                <select class="custom-select custom-select-sm mr-4" id="minsSelect">
                    <option value="5">5 minutes</option>
                    <option value="15">15 minutes</option>
                    <option selected value="30">30 minutes</option>
                    <option value="60">1 hour</option>
                    <option value="120">2 hours</option>
                    <option value="180">3 hours</option>
                    <option value="240">4 hours</option>
                    <option value="0">from the beginning</option>
                </select>
                <label for="autorefreshSelect" class="mr-2 small">Refresh every</label>
                <select class="custom-select custom-select-sm" id="autorefreshSelect">
                    <option value="10">10 seconds</option>
                    <option value="20">20 seconds</option>
                    <option selected value="30">30 seconds</option>
                    <option value="60">1 minute</option>
                    <option value="300">5 minutes</option>
                </select>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}