.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}

.login-form form {
    margin-bottom: 15px;
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control .btn {
    min-height: 38px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}

#dashboard {
    height: calc(100vh - 54px);
}

#charts {
    height: calc(100% - 47px);
}
